*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1em;
    color: white;
    text-align: left;
    line-height: 1.5;
    height: 100%;
    background-color: rgb(11, 11, 85);
} 

h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
}
h3{
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 1.2em;
}

h5{
    font-family: "open-sans";
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
   color: yellow; 
   opacity: 1;
}

p{
    font-size: .9em;
}

i {
    font-size: 1.3em;
}

button {
    background-color: rgb(77, 76, 76);
    border: 1px solid black;
    padding: 7px;
    margin: 5%;
}

ul {
    list-style-position: inside;
    margin-left: 2%;
    font-size: .95em;
}

.button-box {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.menu-list{
    list-style-type: none;
}

.home-view {
    margin-top: 24px;
    text-align: center;
    padding: 5%;
    background-color: rgba(44, 1, 44, 0.75)
}

.about-view {
    padding: 5%;
    background-color: rgba(44, 1, 44, 0.65)
}

.projects-view {
    padding: 5%;
    background-color: rgba(44, 1, 44, 0.5)
}

.contact-view {
    padding: 5%;
    background-color: rgba(44, 1, 44, 0.3)
}

.primary-view{    
    height: 100vh;
}  

.content-box{
    padding: 3%;
    height: 80%;
}

.hidden {
    display: none;
}

.contacts-box {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#nav-section {
    position: fixed;     
    top: 0;
    left: 0;
    right: 0;
    padding-right: 3%;
    text-align: right;
    opacity: .9;
    background-image: url("assets/thom-schneider-iSYYLt2rKac-unsplash.jpg");
    background-size: cover;
}

#links-box {
    margin-top: 5%;
    text-align: right;
    padding-right: 5%;
}

#quiz-app-pic {
    display: block;
    width: 50%;
    margin: 10px auto;
}

#picOfMe {
    display: block;
    width: 50%;
    margin: 10px auto;
}

#selfie {
    display: block;
    height: 100px;
    margin: 0 auto;
}

#bio-list {
    margin-top:3%;
}

#menu-icon{
    margin-top: 5px;
}

#menu-icon:hover {
    color: yellow;
}

/* Media queries */

@media screen and (min-width: 500px) {
    .navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10px;
    }
    .menu-list {
        display: inline-block;
    }
    nav li {
        padding-right: 10px;
        display: inline-block;
    }
    #menu-icon {
        display: none;
    }
    .primary-view{    
        width: 100%;
    }  
    .content-window {
        height: 80%;
    }
    #selfie {
        float: right;
        height: 60%;
        margin-top: 20px;
    }
    .contact-view {
        height: 40vh;
    }
  }

@media screen and (min-width: 720px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1.5em;
    }
    #nav-section {
        width: 20%;
        height: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        opacity: 1;
      }
    .primary-view{    
        width: 80%;
        min-height: 100vh;
    }  
    .content-window {
        height: 100%;
    }
    nav li {
        display: block;
        padding: 5%;
        font-size: 1.2em;
    }
    .home-view {
        margin-top: 0;
    }
    #picOfMe {
        width: 30%;
    }
}